@model IEnumerable<SellingMobileApp.Data.Models.ViewModels.AllListingsViewModel>

@{
    ViewData["Title"] = "Всички обяви";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-center row">
    @foreach (var listing in Model)
    {
        <div class="card col-3 h-100" style="width: 20rem; ">
            @if (!string.IsNullOrEmpty(listing.ImageUrl))
            {
                <img src="@listing.ImageUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Снимка на @listing.Title">
            }
            else
            {
                <img src="https://via.placeholder.com/200x200" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Placeholder Image">
            }
            <div class="card-body" style="height: calc(100% - 150px); overflow: auto;">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper" style="height: 6em; overflow: hidden;">
                            <h4 class="card-title mt-1">@listing.Title</h4>
                        </div>
                    </div>
                </div>
                <p class="mb-0">
                    <strong>Цена:</strong> @listing.Price лв.<br />
                    <strong>Дата на производство:</strong> @listing.ManufactureYear.ToString("dd.MM.yyyy")
                </p>
            </div>

            <div class="row gx-0">
                <div class="col-12 px-1">
                    <button class="btn btn-outline-secondary btn-sm mb-2 w-100" disabled>Добави в любими</button>
                </div>
            </div>

            <div class="row gx-0">
                <div class="col-6 px-1">
                    <button class="btn btn-outline-warning btn-sm mb-2 w-100" disabled>Редактиране</button>
                </div>
                <div class="col-6 px-1">
                    <button class="btn btn-outline-info btn-sm mb-2 w-100" disabled>Детайли</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
