@model IEnumerable<SellingMobileApp.Data.Models.ViewModels.ListingAddToMyFavouriteViewModel>

@{
    ViewData["Title"] = "Моите любими обяви";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-center row">
    @foreach (var listing in Model)
    {
        <div class="card col-3 h-100" style="width: 20rem;">
            <!-- Изображение -->
            @if (!string.IsNullOrEmpty(listing.ImageUrl))
            {
                <img src="@listing.ImageUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Снимка на @listing.Title">
            }
            else
            {
                <img src="https://via.placeholder.com/200x200" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Placeholder Image">
            }


            <div class="card-body" style="height: calc(100% - 150px); overflow: auto;">
                <h4 class="card-title mt-1">@listing.Title</h4>
                <p>
                    <strong>Цена:</strong> @listing.Price лв.<br />
                    <strong>Дата на производство:</strong> @listing.ManufactureYear.ToString("dd.MM.yyyy")
                </p>
            </div>

            <div class="row gx-0">
                <div class="col-12 px-1 mb-2">
                    <button class="btn btn-danger btn-sm w-100 fw-bold rounded" disabled>Премахни от любими</button>
                </div>
                <div class="col-12 px-1">
                    <a href="@Url.Action("Details", "MobilleApp", new { id = listing.Id })" class="btn btn-info btn-sm w-100 fw-bold rounded">Детайли</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
